<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuballoon.mapper.BannerMapper">
    <select id="selectByName" resultType="com.liuballoon.pojo.model.BannerDO">
        SELECT id,
               name,
               description
        FROM banner
        WHERE name = #{name}
          AND online = 1
          AND delete_time IS NULL
    </select>
</mapper>