<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuballoon.mapper.NavigationMapper">
    <select id="selectAllNavigations" resultType="com.liuballoon.pojo.vo.NavigationVO">
        SELECT name,
               cover_img
        FROM navigation
        WHERE online = 1
          AND delete_time IS NULL
    </select>
</mapper>