<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuballoon.mapper.AddressMapper">
    <update id="updateAddressNotDefaultByUserId">
        UPDATE address
        SET default_address = 0
        WHERE user_id = #{userId}
    </update>

    <update id="deleteAddressById">
        UPDATE address
        SET status = 0
        WHERE id = #{addressId}
    </update>
</mapper>