<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuballoon.mapper.UserMapper">
    <sql id="baseColumn">
        *
    </sql>

    <select id="selectUserByCondition" resultType="com.liuballoon.model.UserDO">
        SELECT
        <include refid="baseColumn"/>
        FROM user
        WHERE
        <if test="by != null and by == 'id'">
            id = #{condition}
        </if>
        <if test="by != null and by == 'account'">
            account = #{condition}
        </if>
        <if test="by != null and by == 'openid'">
            openid = #{condition}
        </if>
        AND online = 1
        AND delete_time IS NULL
    </select>
</mapper>